/* Estilos generales de la página */

 
 



/* Cabecera */
 

/* Contenedor principal de tarjetas con desplazamiento */
.card-scroll-container {
    position: relative;
    width: 90%;
    max-width: 1200px;
    margin: 10px auto;
    overflow: hidden;
    /* background-color: #2c2c2c; */
    /* padding: 0px; */
    border-radius: 10px;
}

/* Contenedor de las tarjetas que permite el desplazamiento */
.card-scroll {
    display: flex;
    transition: transform 0.3s ease;
}





















  








/* Botones de navegación (izquierda y derecha) */
.nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
    z-index: 10;
    opacity: 0.8;
    transition: opacity 0.3s;
    outline: none;
}

.nav-button:hover {
    opacity: 1;
}

.nav-button.left {
    left: 10px;
}

.nav-button.right {
    right: 10px;
}




 






/* 
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 */


 

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1200px;
    width: 100%;
}
 
  
/*Para pantallas pequenassss*/
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 480px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}






/*CONTENEDOR DE C/TARJETA*/
.container {
    width: 400px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border: 1px solid #ddd;
    background-color: white;
    margin-right: 10px;
}

.header {
    background-color: #f8f8f8;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .date {
    font-size: 14px;
    color: #666;
}

.report-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.report-button:hover {
    color: darkred;
}

.image {
    width: 100%;
    height: 180px; /* Tamaño estándar */
    overflow: hidden;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Para mantener la proporción de la imagen */
}

.content {
    padding: 15px;
}

.content h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.content p {
    margin: 5px 0;
    color: #777;
    font-size: 14px;
}



/*footer de cada tarjeta*/
.footerTarjeta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background-color: #f8f8f8;
}

.footerTarjeta .attendance {
    font-size: 14px;
    color: #555;
}

.footerTarjeta .details-button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.footerTarjeta .details-button:hover {
    background-color: #0056b3;
}
















        /* Estilos del contenedor */
        .event-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 20px;
            padding: 20px;
            width: 600px;
            font-family: Arial, sans-serif;
            color: white;
            background: linear-gradient(135deg, #6a0dad, #1e90ff);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        /* Información del evento */
        .event-info {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .event-info h3 {
            margin: 0;
            font-size: 1.2em;
        }

        .event-info p {
            margin: 0;
        }

        /* Cuadro de fecha */
        .event-date {
            border: 1px solid white;
            border-radius: 10px;
            padding: 5px 15px;
            text-align: center;
            font-size: 1em;
        }

        /* Temporizador */
        .event-timer {
            text-align: center;
            font-size: 1.5em;
        }

        /* Encabezado del temporizador */
        .event-timer h3 {
            margin: 0;
            font-size: 1em;
        }

        /* Contenedor del contador */
        #countdown {
            font-size: 1.2em;
            font-weight: bold;
        }



























        /* Estilos para oscurecer el fondo */
        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.7);
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1000;
        }

        /* Estilos del modal */
        .modal {
            background-color: #333;
            border-radius: 8px;
            width: 450px; /* Reducir un poco el ancho */
            padding: 20px;
            color: #fff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            position: relative;
            margin-right: 20px; /* Añadir margen derecho */
        }



        .modal .publication-form {
        padding: 10px 20px; /* Espacio dentro del formulario en los lados */
        }

        /* Encabezado del modal */
        .modal-header {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        /* Estilos del formulario */
        .publication-form label {
            display: block;
            margin-top: 10px;
            font-weight: bold;
        }





        .publication-form input[type="text"],
        .publication-form input[type="datetime-local"],
        .publication-form input[type="number"],
        .publication-form select,
        .publication-form textarea {
            width: 100%;
            padding: 8px;
            margin-top: 5px;
            border: 1px solid #555;
            border-radius: 4px;
            background-color: #222;
            color: #fff;
        }

        .publication-form textarea {
            resize: vertical;
            height: 80px;
        }

        /* Botones en la parte inferior */
        .modal-footer {
            display: flex;
            justify-content: flex-end;
            margin-top: 20px;
        }

        .modal-footer button {
            background-color: #444;
            border: none;
            border-radius: 4px;
            color: #fff;
            padding: 10px 20px;
            margin-left: 10px;
            cursor: pointer;
        }

        .modal-footer button:disabled {
            background-color: #666;
            cursor: not-allowed;
        }



























/*barra de botones de filtros del adminnnnnnn*/
        .barra-botones {
            position: fixed;
            top: 160px; /* Ajusta este valor según la altura de tu header */
            left: 0;
            right: 0;
            background-color: white;
            display: flex;
            justify-content: center;
            padding: 10px;
            border-radius: 10px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
            z-index: 1000;
            width: 40%; /* Ajusta este valor para reducir el ancho de la barra */
            margin: 0 auto; /


        }
    
        /* Estilos para los botones */
        .boton {
            margin: 0 10px;
            padding: 10px 20px;
            border: 2px solid #ccc;
            border-radius: 8px;
            background-color: white;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s, border-color 0.3s;
        }
    
        .boton:hover {
            background-color: #f0f0f0;
            border-color: #888;
        }
    
        .boton:active {
            background-color: #e0e0e0;
            border-color: #666;
        }













        

.modale {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo difuminado */
    backdrop-filter: blur(5px); /* Difumina el fondo */
    justify-content: center;
    align-items: center;
    }
    
    .modale-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }
    
    ul {
    list-style: none;
    padding: 0;
    }
    
    ul li {
    margin-bottom: 10px;
    }
    
    .mensaje-exito {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4caf50;
    color: white;
    padding: 15px 30px;
    border-radius: 10px;
    z-index: 2;
    }
    
    .mensaje-exito.active {
    display: block;
    }




    
.modale_user {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo difuminado */
    backdrop-filter: blur(5px); /* Difumina el fondo */
    justify-content: center;
    align-items: center;
    }
    
    .modale_user-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }
    
    ul {
    list-style: none;
    padding: 0;
    }
    
    ul li {
    margin-bottom: 10px;
    }
    
 















        